@media (max-width:1199px){
    .aside .nav-toggler{
        display: -ms-flexbox;
        display: flex;
        left: 30px;
    }
    .aside .nav-toggler.open{
        left: 290px;
    }
    .aside{
        left: -270px;
    }
    .aside.open{
        left: 0;
    }
    .section{
        left: 0;
    }
    .section.open{
        left: 270px;
    }
    .about .about-content .personal-info .info-item p span{
        display:block;
        margin-left: 0;
        font-size: 12px;
    }
    .section .container{
        padding-top: 80px;
    }
}
@media (max-width:991px){
    .about .about-content .skills,
    .about .about-content .personal-info,
    .blog .blog-item,
    .portfolio .portfolio-item,
    .service .service-item{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width:767px){
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .personal-info,
    .about .about-content .skills{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}
@media (max-width:585px){
    .blog .blog-item,
    .portfolio .portfolio-item,
    .service .service-item{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .portfolio .portfolio-filter button{
        margin-bottom: 15px;
    }
}
